body {
  font-family: sans-serif;
  font-size: 16px;
}
.form-header {
  text-align: center;
  gap: 0;
  justify-content: center; /* Horizontally centers content */
  align-items: center;
}
.card-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.input-group {
  padding: 0.5rem;
  background: #eee;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}

.input-group input {
  border: none;
  background: none;
  flex: 1;
  outline: none;
}
input {
  border-radius: 10px; /* Rounds all corners with a 15px radius */
  padding: 1rem; /* Adds internal spacing for better appearance */
  border: 0.2rem solid #ccc; /* Defines a subtle border */
  width: 90%;
}

.btn {
  border-radius: 10px; /* Rounds all corners with a 15px radius */
  border: none; /* Defines a subtle border */
  padding: 0.5rem;
  background: #28a745;
  color: white;
}

.list .item {
  padding: 0.5rem;
  background: #eee;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.list .item {
  display: flex;
}

.list .item .item-title {
  flex: 1;
}

.list .item .item-title span {
  opacity: 0.3;
}

.list .item .item-actions {
  display: flex;
  gap: 0.2rem;
}

.btn-icon {
  aspect-ratio: 1;
  border: none;
  background: white;
  border-radius: 1000px;
}

.btn-icon:hover {
  background: #ddd;
}

.btn-remove {
  background: red;
  color: white;
}

.btn-remove:hover {
  background: rgb(100, 0, 0);
  color: white;
}
